
<div class="container">
  <h1>{{title }}</h1>
  <p>Bienvenido a la pagina{{title }}</p>
  <h4>DIRECCIONES</h4>
    {{#list datospersonales}}
        {{{linkmenu  descrip text }}}
    {{/list}}
</div>
<p>Sistema videoclub realizado con express y accediendo a los archivos json para los datos</p>

